<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página</title>
</head>
<body>
    <%- include("templates/cabecera", {tituloWeb: 'Index'}) %>
    
    <div class="container mt-5 text-center" >
        <h2 class="mb-4">Bienvenido a mi página</h2>
        <button class="btn btn-primary" onclick="irALeagueOfLegends()">Ir a League of Legends CRUD</button>
    </div>
    
    
    <%- include("templates/footer") %>
    <script>
        function irALeagueOfLegends() {
            let crud = window.open('/leagueoflegends');
        }
    </script>

</body>
</html>
